@import '../../../scss/variables';

.button_menu-horizontal {
   background: transparent;
   border: none;
   outline: none;
   border-radius: 3px;
   padding: 6px;
   cursor: pointer;


   &:hover {
      color: #172b4d;
      background-color: #091e4214;
   }

   &:active {
      background-color: #091e4221;
   }

   &__body {

      svg {
         height: 16px;
         width: 16px;
         color: #6b778c;
         fill: #6b778c;
         vertical-align: bottom;

         &:hover {
            color: $title-color;
            fill: $text-color;
         }
      }
   }
}
