@import '../../scss/variables';

.add-new-task-list {
   width: 270px;
   min-height: 32px;
   display: inline-block;
   margin: 0 8px;
   padding: 4px;
   border-radius: $border-radius;

   &.adding {
      background-color: #ebecf0;
   }

   .add-new-task-list__button-add {
      margin-right: 8px;
   }

   &__form{

      &__container-buttons {
         display: flex;
         align-items: center;
         margin-top: 4px;
      }
   }
   
   &__button{
      height: 40px;
      width: 100%;
      background-color: #ffffff3d;
      cursor: pointer;
      border-radius: $border-radius;
      padding: 4px;
      box-shadow: none;
      border: none;
      color: #fff;

      &__content{

      }

      &__icon {

      }

      &__title {

      }
   }
}


