@import '../../../scss/variables';

.select__wrapper {
   max-width: 300px;
   min-height: 32px;
   background-color: #091e420a;
   border: none;
   border-radius: 3px;
   box-shadow: none;
   box-sizing: border-box;
   color: inherit;
   cursor: pointer;
   display: block;
   margin-bottom: 8px;
   overflow: hidden;
   padding: 6px 20px 6px 12px;
   position: relative;
   text-decoration: none;
   text-overflow: ellipsis;
   transition-duration: 85ms;
   transition-property: background-color, border-color, box-shadow;
   transition-timing-function: ease;
   -webkit-user-select: none;
   user-select: none;
   white-space: nowrap;

   &::before {
      content: '\25BC';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding-right: 6px;
      color: $title-color;
      font-size: 10px;
   }

   &:focus-within::before {
      content: '\25B2';
   } 

   &:hover  {
      background-color: #091e4214;
   }

   &:active {
      color: #0079bf;
      background-color: #e4f0f6;
   }

   .select__label {
      color: $title-color;
      display: block;
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 0;
   }

   &:active .select__label,  
   &:active .select__current-value,  
   &:active::before {
      color: #0079bf;
   }

   .select__current-value {
      display: block;
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
   }

   select {
      appearance: none;
      height: 100%;
      border: none;
      cursor: pointer;
      left: 0;
      margin: 0;
      opacity: 0;
      position: absolute;
      bottom: 2px;
      width: 100%;
      z-index: 2;

      option {
         &:hover,
         &:focus,
         &:active,
         &:checked {
         background: linear-gradient(#5A2569, #5A2569);
         }
      }
   }

}
