@import '../../scss/variables';

.task-list {
   height: 100%;
   width: 270px;
   display: inline-block;
   box-sizing: border-box;
   margin: 0 4px;
   vertical-align: top;
   white-space: nowrap;

   &__container{
      max-height: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      background-color: #ebecf0;
      border-radius: $border-radius;
   }

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 6px;

      .task-list__input-title {
         font-size: 14px;
         font-weight: 500;
         line-height: 20px;
      }
   }

   &__body {
      position: relative;
      flex: 1;
      min-height: 0;
      overflow-y: auto;
      margin: 0 4px;
      padding: 0 4px;

      .task-list__list{
         display: flex;
         flex-direction: column;

         .task-list__textarea__wrapper {
            padding-bottom: 8px;

            .task-list__textarea__container {
               background-color: #fff;
               border-radius: $border-radius;
               box-shadow: 0 1px 0 #091e4240;
               cursor: pointer;
               display: block;
               margin-bottom: 8px;
               max-width: 300px;
               min-height: 20px;
               position: relative;
               text-decoration: none;
               padding: 6px 8px 2px;
      
               .task-list__textarea {
                  width: 100%;
                  max-height: 162px;
                  min-height: 54px;
                  margin: 0;
                  padding: 0;
                  margin-bottom: 4px;
                  background: none;
                  border: none;
                  box-shadow: none;
                  overflow-y: auto;
                  outline: none;
                  resize: none;
      
                  &::placeholder{
                     font-size: 12px;
                     color: $title-color;
                  }
               }
            }
         }
      }


   }

   &__bottom {
      max-height: 38px;
      min-height: 38px;
      display: flex;
      flex-direction: column;

      &.hidden {
         min-height: 0;
      }

      .button-add-new-task {
         display: block;
         text-align: start;
         border-radius: $border-radius;
         color: $title-color;
         padding: 4px 8px;
         margin: 2px 8px 8px 8px;
         user-select: none;
         outline: none;
         border: transparent;
         background-color: transparent;
      
         &:hover {
            background-color: #091e4214;
            color: $text-color;
         }
      
         &__icon {
            margin-right: 6px;
         }
      
         &__container {
            display: flex;
            align-items: center;
         }
      }
      
      .task-list__container-buttons {
         button {
            margin-right: 6px;
         }
      }
   }

   
}


