@import '../../../scss/variables';

.taken-task {
   width: 768px;
   height: 85vh;
   background-color: #f4f5f7;
   border-radius: 2px;
   margin: 48px 0 80px;
   overflow: hidden;
   position: relative;
   z-index: 25;

   @media (max-width: 767px) {
      width: 100%;
      margin: 36px 8px;
   }

   &__loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }

   &__header {
      margin: 12px 40px 12px 56px;
      min-height: 32px;
      z-index: 1;

      .taken-task__input {
         font-size: 20px;
         font-weight: 600;
      }

      .taken-task__current-task-list {
         display: inline-block;
         margin: 4px 8px;
         color: $title-color;
         
         a {
            color: $title-color;
         }
      }

      .taken-task__button-close {
         width: 32px;
         height: 32px;
         position: absolute;
         display: flex;
         align-items: center;
         justify-content: center;
         border-radius: 50%;
         color: #42526e;
         margin: 4px;
         overflow: hidden;
         padding: 4px;
         right: 0;
         top: 0;
         transition: background-color 85ms, color 85ms;
         z-index: 2;
         cursor: pointer;

         &:hover{
            background-color: #091e4214;
         }
      }
   }

   &__body{
      min-height: 24px;
      padding: 0 8px 8px 16px;
      display: flex;

      @media(max-width: 768px) {
         flex-direction: column;
      }

      .taken-task__main {
         flex: 75%;

         @media(max-width: 768px) {
            flex: 1 1 100%;
         }

         .taken-task__container-description {
            margin: 0 0 4px 40px;

            @media(max-width: 768px) {
               margin: 0 0 24px 4px;
            }

            .taken-task__title-description {
               display: inline-flex;
               align-items: center;

               h3 {
                  font-size: 16px;
                  line-height: 20px;
                  color: #394A67;
                  margin-right: 12px;
               }
            }

            .taken-task__textarea-description {

            }
         }
      }

      .taken-task__sidebar {
         flex: 25%;
         padding: 0 16px 8px 8px;

         @media(max-width: 768px) {
            flex: 1 1 100%;
         }

         &__title {
            h3 {
               color: $title-color;
               font-size: 12px;
               font-weight: 600;
               line-height: 20px;
               margin: 0;
            }
    
         }

         &__container {
            display: flex;
            flex-direction: column;

            .container_item {
               margin-top: 8px;
               display: flex;
                flex-direction: column;

                @media(max-width: 768px) {
                  margin-right: 8px;
                  width: calc(50% - 8px);
               }
            }
         }
      }
   }
 }