@import '../../scss/variables';


.board {
   display: block;
   text-decoration: none;
   
   &__content {
      padding: 8px;
      height: $height-board;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: $primary-color;
      transition: 0.2s opacity;
      border-radius: $border-radius;
      
      &:hover{
         opacity: .9;
      }
   }

   &__title {
      color: #fff;
      word-wrap: break-word;
      display: inline-block;
      flex: 0 0 auto;
      font-size: 16px;
      font-weight: 700;
      max-height: calc($height-board / 2);
      overflow: hidden;
      width: 100%;
   }

   &__sub-title {
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}