@import '../../scss/variables';

.page-boards{
   flex: 1;
   padding: 20px;
   
   &__body{

   }

   &__title{
      display: flex;
      flex: 1;
      align-items: center;
      color: $title-color;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      margin: 20px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }

   &__list{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      &__item{
         width: 33.33% - 2%;
         margin: 0 2% 2% 0;

         @media(min-width: 1024px){
            width: 25% - 2%;
         }

         @media(max-width: 767px){
            width: 33.33% - 2%;
         }

         @media(max-width: 768px){
            width: 50% - 2%;
         }

         @media(max-width: 320px){
            width: 100% - 2%;
         }
      }

   }
}
