@import '../../../scss/variables';

.dropdawn-menu {
   width: 304px;
   background: #fff;
   border-radius: 3px;
   box-shadow: 0 8px 16px -4px #091e4240,0 0 0 1px #091e4214;
   display: none;
   overflow: hidden;
   position: absolute;
   z-index: 70;
   display: block;

   &__header {
      height: 40px;
      margin-bottom: 8px;
      position: relative;
      text-align: center;
   }

   &__title {
      line-height: 40px;
      margin: 0 12px;
      padding: 0 32px;
      display: block;
      color: $title-color;
      border-bottom: 1px solid #091e4221;
   }

   &__button-back {
      position: absolute;
      left: 0;
      top: 0;
      padding: 10px 12px;

      svg {
         width: 14px;
         height: 14px;
         color: $title-color;
         fill: $title-color;
         vertical-align: middle;
      }
   }

   &__button-close {
      position: absolute;
      right: 0;
      top: 0;
      padding: 10px 12px;
   }


   &__body {
      padding: 0 12px 12px 12px;
   }
}