@import '../../../scss/variables';

.move-tasks-list {
   
   &__container {
      padding: 0
   }
   
   &__container {
      margin-top: 12px;

      .container__col {
         display: flex;
         flex-direction: column;
         margin-bottom: 6px;
      }

      .container__row{
         display: flex;
         justify-content: space-between;
         margin-bottom: 6px;

         div:nth-child(2n+1) {
            margin-right: 6px;
         }
      }
   }

}