@import '../../scss/variables';

.page-wrapper {
   flex-grow: 1;
   overflow-y: auto;
   background-color: #0079BF;
   position: relative;

   .page-scroll{
      bottom: 0;
      left: 0;
      margin-bottom: 8px;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 10px;
      position: absolute;
      right: 0;
      top: 0;
      -webkit-user-select: none;
      user-select: none;
      white-space: nowrap;

      scrollbar-width: thin;
      scrollbar-color: rgb(132 156 195) #00000026;

      &::-webkit-scrollbar {
         width: 24px;
         height: 14px;

      }

      &::-webkit-scrollbar-button {
         display: block;
         height: 14px;
         width: 24px;
      }

      &::-webkit-scrollbar-track {
         background: #00000026;
         border-radius: $border-radius;
      }
      
      &::-webkit-scrollbar-thumb {
         background-color: rgb(132 156 195);
         border-radius: $border-radius;
      }
      
   }

}
