@import '../../../scss/variables';

.button_close {
   background: transparent;
   border: none;
   color:  #6b778c;
   cursor: pointer;
   margin: 0;
   padding: 0;
   z-index: 2;
   outline: none;

   &__body {
      line-height: 1px;
      svg {
         height: 16px;
         width: 16px;
         color: $title-color;
         fill: $title-color;
         vertical-align: middle;

         &:hover {
            color: $title-color;
            fill: $text-color;
         }
      }
   }
}
