@import '../../../scss/variables';

.button {
   color: $text-color;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
   line-height: 20px;
   font-weight: 400;
   box-sizing: border-box;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   border-radius: 3px;
   cursor: pointer;
   padding: 6px 12px;
   text-decoration: none;
   white-space: normal;
   background-color: rgba(9, 30, 66, 0.039);
   box-shadow: none;
   border: none;
   transition-property: background-color, border-color, box-shadow;
   transition-duration: 85ms;
   transition-timing-function: ease;

   &:hover{
      background-color:  rgba(9, 30, 66, 0.08);
      box-shadow: none;
      border: none;
   }

   &:active {
      background-color: #e4f0f6;
   }

   &.primary {
      background-color: #0079bf;
      box-shadow: none;
      border: none;
      color: #fff;

      &:hover {
         background-color:  $primary-color;
         box-shadow: none;
         border: none;
         color:  #ffffff;
      }

      &:active {
         background-color: #055a8c;
      }
   }

   &.default-dark {
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;

      &:hover {
         background-color: rgba(255, 255, 255, 0.2);
      }
   }

   &:disabled,
   &:disabled:hover,
   &:disabled:active, 
   &:disabled:focus { 
      background-color: rgba(9, 30, 66, 0.04);
      box-shadow: none;
      border: none;
      color: var(--ds-text-disabled, #a5adba);
      cursor: not-allowed;
    }
 }