@import '../../scss/variables';

.task-item {
   min-height: 20px;
   display: block;
   background-color: #fff;
   border-radius: $border-radius;
   box-shadow: 0 1px 0 #091e4240;
   margin-bottom: 8px;
   text-decoration: none;
   cursor: pointer;
   position: relative;

   &:hover {
      background-color: #f4f5f7;
   }

   &:hover .task-item__edit {
      visibility: visible;
   }

   &__edit{
      color: #42526e;
      background-color: #f4f5f7;
      border-radius: $border-radius;
      opacity: .8;
      padding: 4px;
      position: absolute;
      right: 2px;
      top: 2px;
      visibility: hidden;
      z-index: 3;

      &:hover {
         background-color: #ebecf0;
         opacity: 1;
      }
   }

   &__content{
      overflow: hidden;
      padding: 6px 8px 2px;
      word-wrap: break-word;
      color: $text-color;
      display: block;
      margin: 0 0 4px;
      overflow: hidden;
      text-decoration: none;

   }
}


