@import '../../scss/variables';

.header{
   height: 44px;

   &__container{
      max-height: 44px;
      display: flex;
      background-color: $primary-color;
      padding: 6px 4px;

      .header__item {
         margin: 0 4px;
      }

      .logo__container {
         display: flex;
         position: relative;
         border-radius: 3px;
         transition: 0.2s background-color;

         &:hover {
            background: rgba(255, 255, 255, 0.3)
         }

         .logo {
            width: 75px;
            height: 15px;
            padding: 8px 0;
            
            &::before {
               width: 100%;
               height: 100%;
               display: block;
               content: '';
               background-image: url("../../assets/images/logo.png");
               background-repeat: no-repeat;
               background-size: contain;
               background-position: center;
               position: absolute;
               top: 0;          
            }
         }
      }
   }

}