@import '../../scss/variables';


.board-new-create {
   &__body {
      padding: 8px;
      height: $height-board;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #091e420a;
      transition: 0.2s background-color;
      border-radius: 3px;
      cursor: pointer;
      border-radius: $border-radius;

      &:hover{
         background-color: #091e4214;
      }

      &:active {
         background-color: #e4f0f6;
         color: #0079bf;
      }
   }

   &__title {
      width: 100%;
      color: $text-color;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
   }

   &__sub-title {
      color: $text-color;
      font-size: 12px;
      text-align: center;
   }
}