@import '../../../scss/variables';

.input-wrapper {
   display: flex;
   flex-direction: column;

   .input__title {
      color: $title-color;
      font-size: 12px;
      line-height: 16px;
      font-weight: 700;

      .required {
         color:  #eb5a46;
         margin-left: 2px;
      }
   }

   .input {
      outline: none;
      border: none;
      box-sizing: border-box;
      color: $text-color;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
      font-size: 14px;
      line-height: 20px;
      font-weight: 400;
      transition-property: background-color, border-color, box-shadow;
      transition-duration: 85ms;
      transition-timing-function: ease;
      border-radius: 3px;
      padding: 6px 8px;
      box-shadow: inset 0 0 0 2px  #dfe1e6;
      background-color:  #fafbfc;
      width: 100%;
      margin-bottom: 0;

      &.Text {
         background-color: transparent;
         box-shadow: none;
      }


      &.Standard:hover{
         background-color:  #ebecf0;
         box-shadow: inset 0 0 0 2px  #dfe1e6;
      }

      &.Standard:disabled{
         background-color:  #ebecf0;
         box-shadow: inset 0 0 0 2px  #dfe1e6;
      }

      &.Text:hover {
         cursor: pointer;
      }

      &.Text:disabled{
         background-color: transparent;
         box-shadow: none;
      }

      &.Text:focus,
      &.Standard:focus{
         background-color: #fff;
         box-shadow: inset 0 0 0 2px  #0079bf;  
      }

      &.Standard.error, 
      &.Standard.error:hover{
         box-shadow: inset 0 0 0 2px  #eb5a46;
      }

      &_error-message {
         color: #eb5a46;
         font-size: 14px;

      }
      
   }
}
