@import '../../../../scss/variables';

.delete-list {
   
   &__title {
      text-align: center;
      margin-bottom: 20px;
      display: block;
      color: $title-color;
   }
   &__container-btn {
      display: flex;
      align-items: center;
      justify-content: space-around;
   }
}

