@import '../../../scss/variables';

.list-actions {
   &__list {

   }

   &__item {
      
      a {
         color: #172b4d;
         cursor: pointer;
         display: block;
         font-weight: 400;
         margin: 0 -12px;
         padding: 6px 12px;
         position: relative;
         text-decoration: none;
      }

      a:hover {
         background-color: #091e420a;
      }

      a:active {
         background-color: #e4f0f6;
      }
   }
}

