.icon-add{
   &.right {
     margin-left: 6px;
   }
 
   &.left {
     margin-right: 6px;
   }
 
   &::before {
     content: "\271A";
   }
 }
 
 
 .icon-edit {
   &.right {
     margin-left: 6px;
   }
 
   &.left {
     margin-right: 6px;
   }
 
   &::before { 
     content: "\270e";
   }
 }

 
.icon-card {

   &::before {
     content: "\e912";
   }
 }
 