@import '../../../scss/variables';

.create-board {
   flex-direction: column;
   background-color: #ffffff;
   border-radius: 3px;
   box-sizing: border-box;
   outline: 0;
   overflow: hidden;
   
  &__body{
   display: flex;
   flex-direction: column;

   .create-board__row{
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
   }
  }
}
